src/pages/index.pug
extends /templates/layout.pug

block HTML_VARIABLES
  - var lang = "#{language}"
  - var page = 'index'

block HTML_SCRIPT
  script(src='../assets/scripts/index.js')

block HTML_CONTENT
  main
    section.kv
      .kv-slider#kvSlider
        .kv-slider-item slider 1
        .kv-slider-item slider 2
        .kv-slider-item slider 3
        .kv-slider-item slider 4
        .kv-slider-item slider 5

build/en/index.html
<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>LINE ProtoStar</title>
    <link rel="stylesheet" href="../assets/styles/main.css"/>
  </head>
  <body class="en">
    <div class="wrapper index">
      <header class="header">
        <div class="container header-container"> 
          <div class="menu">
            <div class="menu-content">
              <div class="menu-bg"></div>
              <div class="menu-list">
                <div class="menu-item menu-item-active"><a href="/en/index.html">INDEX</a></div>
                <div class="menu-item"><a href="/en/news.html">NEWS</a></div>
                <div class="menu-item"><a href="/en/about.html">ABOUT US</a></div>
                <div class="menu-item menu-item-noHover">
                  <div class="menu-language"><a class="menu-language-tw" href="../tc/index.html">Chinese</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr/>
        </div>
      </header>
      <main>
        <section class="kv">
          <div class="kv-slider" id="kvSlider">
            <div class="kv-slider-item">slider 1</div>
            <div class="kv-slider-item">slider 2</div>
            <div class="kv-slider-item">slider 3</div>
            <div class="kv-slider-item">slider 4</div>
            <div class="kv-slider-item">slider 5</div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer-container container">footer</div>
      </footer>
    </div>
    <script src="../assets/scripts/lib/jquery.min.js"></script>
    <script src="../assets/scripts/lib/slick.min.js"></script>
    <script src="../assets/scripts/main.js"></script>
    <script src="../assets/scripts/index.js"></script>
  </body>
</html>
